## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 12
print(a)

12

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
A = 8.5
print(type(A))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
miNombre = 'Maxi'
print(miNombre)

Maxi

5) Crear una variable que contenga un número complejo

In [6]:
numComplejo = 5 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [10]:
type(numComplejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [8]:
PI = 3.1415926535
print(round(PI, 4))

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [ ]:
uno = 'True'
dos = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [18]:
type(uno)
type(dos)

NameError: name 'uno' is not defined

10) Asignar a una variable, la suma de un número entero y otro decimal

In [19]:
suma = 12 + 3.5

11) Realizar una operación de suma de números complejos

In [20]:
suma2 = 24j + 24j

12) Realizar una operación de suma de un número real y otro complejo

In [ ]:
suma3 = 24 + 24j

13) Realizar una operación de multiplicación

In [ ]:
multi = 12 * 4

14) Mostrar el resultado de elevar 2 a la octava potencia

In [21]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

16) De la división anterior solamente mostrar la parte entera

17) De la división de 27 entre 4 mostrar solamente el resto

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

26) Realizar una operación válida entre valores de tipo entero y string